.el-button {
  width: 100%;
  text-transform: uppercase;

  &.el-button--secondary {
    color: $color-white;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }

  &.el-button--text {
    color: $secondary-color;
  }
}
.el-button--small {
  width: initial;
}

.el-input-number {
  width: 135px;
  .el-input__inner {
    background-color: transparent;
    border: none;
    font-size: $font-size;
    font-weight: bold;
  }
  .el-input-number__increase,
  .el-input-number__decrease {
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid lighten($color-border, 25);
    background-color: transparent;
  }
}
